#meetingViewWrapper{
	margin:0;
	text-align:left;
	position:relative;
}
#meetingViewLeft{
	width:800px;
}

#imgWrapper{
	width:800px;
	text-align:center;
}
#imgWrapper img {
	width:650px;
	height:420px;
}

#contentWrapper {
	width:800px;
	min-height:300px;
}

#meetingViewRight{
	position:absolute;
	right:0;
	top:0;
	width:380px;
	margin:0 auto;
}
#description{
	width:380px;
	text-align:left;
}
#description ol{
	list-style: none;
	font-size: 25px;
	font-weight: bold;
}
.meetingViewBtn{
	margin:0 auto;
	width:100%;
	height:80px;
}
#updateDeleteWrapper{
	text-align:center;
}
